In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV saved into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Abu Samrah,SY,2021-02-27 23:24:17,35.3029,37.1841,49.80,52,0,4.65
1,1,Airai,TL,2021-02-27 23:24:18,-8.9266,125.4092,61.88,100,97,1.77
2,2,Punta Arenas,CL,2021-02-27 23:24:18,-53.1500,-70.9167,73.40,33,0,8.05
3,3,Rikitea,PF,2021-02-27 23:24:18,-23.1203,-134.9692,76.60,75,13,15.35
4,4,Jamestown,US,2021-02-27 23:21:29,42.0970,-79.2353,35.01,92,40,5.28

In [3]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use google api key
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) 
                                    & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rikitea,PF,2021-02-27 23:24:18,-23.1203,-134.9692,76.60,75,13,15.35
9,9,Bambous Virieux,MU,2021-02-27 23:24:21,-20.3428,57.7575,78.01,83,75,8.59
15,15,Banda Aceh,ID,2021-02-27 23:20:19,5.5577,95.3222,75.18,79,1,5.10
16,16,Georgetown,MY,2021-02-27 23:24:23,5.4112,100.3354,78.01,88,20,2.30
19,19,Avarua,CK,2021-02-27 23:24:24,-21.2078,-159.7750,84.20,84,75,19.57
23,23,Ushuaia,AR,2021-02-27 23:21:02,-54.8000,-68.3000,75.20,27,0,11.50
26,26,Arraial Do Cabo,BR,2021-02-27 23:24:27,-22.9661,-42.0278,77.90,83,100,19.44
30,30,Mahebourg,MU,2021-02-27 23:20:49,-20.4081,57.7000,77.00,83,75,8.37
32,32,Buin,CL,2021-02-27 23:24:28,-33.7333,-70.7500,84.99,42,0,5.75
38,38,Sinnamary,GF,2021-02-27 23:24:31,5.3833,-52.9500,76.51,85,98,14.45

In [17]:
# find out if there are any null values
preferred_cities_df.count()

City_ID       166
City          166
Country       164
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [18]:
# create a dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3           Rikitea      PF     76.60 -23.1203 -134.9692
9   Bambous Virieux      MU     78.01 -20.3428   57.7575
15       Banda Aceh      ID     75.18   5.5577   95.3222
16       Georgetown      MY     78.01   5.4112  100.3354
19           Avarua      CK     84.20 -21.2078 -159.7750
23          Ushuaia      AR     75.20 -54.8000  -68.3000
26  Arraial Do Cabo      BR     77.90 -22.9661  -42.0278
30        Mahebourg      MU     77.00 -20.4081   57.7000
32             Buin      CL     84.99 -33.7333  -70.7500
38        Sinnamary      GF     76.51   5.3833  -52.9500

In [20]:
# set the parameters to search for a hotel
params = {
    'radius':5000,
    'type':'lodging',
    'key':g_key}

# iterate through the dataframe
for index, row in hotel_df.iterrows():
    # get the latitude and longitude
    lat=row['Lat']
    lng=row['Lng']
    
    # add the lat and lng to location key for the params dict
    params['location'] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [21]:
# check dataframe to see if hotel names were added
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rikitea,PF,76.60,-23.1203,-134.9692,Pension Maro'i
9,Bambous Virieux,MU,78.01,-20.3428,57.7575,Casa Tia Villa
15,Banda Aceh,ID,75.18,5.5577,95.3222,Sulthan Hotel International
16,Georgetown,MY,78.01,5.4112,100.3354,Cititel Penang
19,Avarua,CK,84.20,-21.2078,-159.7750,Paradise Inn
23,Ushuaia,AR,75.20,-54.8000,-68.3000,Albatros Hotel
26,Arraial Do Cabo,BR,77.90,-22.9661,-42.0278,Pousada Porto Praia
30,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
32,Buin,CL,84.99,-33.7333,-70.7500,Paihuen
38,Sinnamary,GF,76.51,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))